<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
  <title>JPA Shop</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
  <div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>
  <div class="jumbotron">
    <h1>JPA SHOP</h1>
    <p class="lead">Member</p>
    <p>
      <a class="btn btn-lg btn-secondary" href="/members/new">New Member</a>
      <a class="btn btn-lg btn-secondary" href="/members">Member List</a>
    </p>
    <p class="lead">Item</p>
    <p>
      <a class="btn btn-lg btn-dark" href="/items/new">New Item</a>
      <a class="btn btn-lg btn-dark" href="/items">Item List</a>
    </p>
    <p class="lead">Order</p>
    <p>
      <a class="btn btn-lg btn-info" href="/order">Order Item</a>
      <a class="btn btn-lg btn-info" href="/orders">Order List</a>
    </p>
  </div>
  <div th:replace="~{fragments/footer :: footer}"/>
</div> <!-- /container -->
</body>
</html>
